* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background: linear-gradient(132deg, #302D2D 0%, #171819 100%);
    overflow-x: hidden; /* Corrected property name */
}



/* Nav */

nav {
    display: flex;  
    margin-top: 1.8rem;
    width: 100%;
    justify-content: center; /* Centers the nav content */
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 4.8rem;
    height: auto;
    margin-left: 15%; /* Align with body margin */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav ul {
    display: flex; /* Set ul as a flex container */
    font-family: Ubuntu;
    font-size: 1rem;
    list-style: none;
    color: #F6F6F6;
    justify-content: flex-end; /* Align items to the end */
    margin: 0 15%; /* Align with body margin */
    padding: 0; /* Reset default padding */
    flex-grow: 1; /* Allow ul to grow and take up available space */
}

li {
    padding: 0 0 0 1.8rem;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

a:visited {
    color: #F6F6F6;
    text-decoration: none;
}


@media (max-width: 480px) {

    .logo {
        margin: 5rem auto; /* Center horizontally with 5rem margin on top and bottom */
    }

    nav ul {
        justify-content: center;
    }


}



/* General Styling */


h1 {
    font-family: Anton;
    font-size: 7.8rem;
    color: #f6f6f6;
    margin-block-start: 5rem;
    margin-block-end: 2rem;
}

h2 {
    font-family: Ubuntu;
    color: #f6f6f6;
    font-size: 1.25rem;
}

p {
    font-family: Ubuntu;
    font-size: 1rem;
    color: #f6f6f6;
}

button {
    padding: 1.56rem 3.12rem;
    background-color: #A1998A;
    color: #000000;
    font-family: Ubuntu;
    font-size: 1.25rem;
    border-radius: 0.6rem;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.line {
    border-bottom: 1px solid #f6f6f6;
    width: 30%;
}

/* Header */

header {
    display: flex;
    margin: 0 15%;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute space between items */ 
}

.textsheader {
    flex: 1; /* Allow .textsheader to take up available space */
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 100%;
    display: flex;
    text-transform: uppercase;
    line-height: 7.8rem;
    margin:0;
    transition: color 0.3s ease, font-size 0.3s ease;
}


.socialhome {
    min-width: 20%;
    margin-top: 5rem;
    align-items: flex-end;
    text-align: right;
    padding-left: 5rem;
}



.sociallogos {
    display: inline-flex;
    justify-content: space-between;
}

.sociallogos a {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.bienvenida {
    max-width: 60%;
    min-width: 320px; /* Minimum width to maintain */
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 15%
}

@media (max-width: 1300px) {

    .socialhome {
        display: none;
    }}


@media (max-width: 900px) {



    .title h1 {
        font-size: 4rem;
        line-height: 4rem;
        transition: color 0.3s ease, font-size 0.3s ease;
    }

    .bienvenida {
        width: 100%;
        margin-right: 15%;
    }

    header {
        margin: 0 5%;
    }
}



/* Projects */


.projects1 {
    margin: 10% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects2 {
    margin: 10% 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.projecttexts {
    width: 40%;
    min-width: 320px;
    z-index: 1;
}

.imagedesarrollo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    min-width: 320px;
    height: 690px;
    overflow: hidden;
    z-index: 0;
}

.imagedesarrollo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#desarrollo {
    font-family: Anton;
    font-size: 8.75rem;
    color: #F6F6F6;
    text-transform: uppercase;
}

#web {
    font-family: Anton;
    font-size: 12.5rem;
    text-transform: uppercase;
    line-height: 7rem;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #A1998A;
    margin-left: 10rem;
}


#diseño {
    font-family: Anton;
    font-size: 8.75rem;
    color: #F6F6F6;
    text-transform: uppercase;
    white-space: nowrap;
}

#grafico {
    font-family: Anton;
    font-size: 10rem;
    text-transform: uppercase;
    line-height: 7rem;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #A1998A;
    margin-left: -5rem;
}

#ui {
    font-family: Anton;
    font-size: 8.75rem;
    text-transform: uppercase;
    line-height: 7rem;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #A1998A;
    margin-left: 2rem;

}

.videodiseño {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    min-width: 320px;
    height: 690px;
    overflow: hidden;
    z-index: 0;
}

.videoui {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    min-width: 320px;
    height: 690px;
    overflow: hidden;
    z-index: 0;
}

.videodiseño video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.videoui video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#desarrollo, #web, #diseño, #grafico, #ui {
    transition: color 0.3s ease, font-size 0.3s ease;
}

.projecttexts h2 {
    margin-top: 2rem;
}

@media (max-width: 1200px) {

   #desarrollo {
    font-size: 4rem;
   }

   #web {
    font-size: 4rem;
    line-height: 2rem;
    margin-left: 0;
   }

   .projects {
    flex-direction: column;
}

#diseño {
    font-size: 4rem;
   }

#grafico {
    font-size: 4rem;
    line-height: 2rem;
    margin-left: 0;
   }

   #ui {
    font-size: 4rem;
    line-height: 2rem;
    margin-left: 0;
   }

.videodiseño {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 300px;
    overflow: hidden;
    z-index: 0;
    margin-top: 5rem;
    transition: transform 0.3s ease; /* Added transition property */
}

.videoui {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 300px;
    overflow: hidden;
    z-index: 0;
    margin-top: 5rem;
    transition: transform 0.3s ease; /* Added transition property */
}

.imagedesarrollo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 300px;
    overflow: hidden;
    z-index: 0;
    margin-top: 5rem;
    transition: transform 0.3s ease; /* Added transition property */
}


.projecttexts {
    width: 100%;
    min-width: 320px;
    z-index: 1;
}
    
}

@media (max-width: 900px) {
    .projects1 {
        margin: 10% 5%;
    }

    .projects2 {
        margin: 10% 5%;
    } 

    .videodiseño {
        width: 100%;
        transition: transform 0.3s ease; /* Added transition property */
    }
    
    .imagedesarrollo {
    width:100%;
        transition: transform 0.3s ease; /* Added transition property */
    }
}

/* Clientes */

.clients {
    margin: 10% 15%;
}

.clientslogos {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.clientslogos img {
    width: 140px;
}

@media (max-width: 900px) {
    .clients {
        margin: 10% 5%;
    }

}

/* Contacto */

#contactoseccion {
    margin: 10% 15%;
}

#contactoseccion hr {
    width: 25%;
    margin-left: 0;
}

.titleandform {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ponteencontacto {
    width: 100%;
    max-width: 50%;
}

form {
    width: 100%;
    max-width: 50%;
    min-width: 320px;
    margin-left: auto;

}

#ponteen {
    font-family: Anton;
    font-size: 6rem;
    color: #F6F6F6;
    text-transform: uppercase;
}

#contacto {
    font-family: Anton;
    font-size: 8rem;
    text-transform: uppercase;
    line-height: 5rem;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #A1998A;
    margin-left: 5rem;
}

input {
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: 1px solid #A1998A;
    background-color: #302D2D;
    border-radius: 5px;
    color: #F6F6F6;
    outline: none;
}

input:focus {
    border: 3px solid #A1998A;
  }

input[type=submit] {
    padding: 1.56rem 3.12rem;
    background-color: #A1998A;
    color: #000000;
    font-family: Ubuntu;
    font-size: 1.25rem;
    border-radius: 0.6rem;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: 1px solid #A1998A;
    background-color: #302D2D;
    border-radius: 5px;
    color: #F6F6F6;
    resize: none;
    outline: none;
}

textarea:focus {
    border: 3px solid #A1998A;
  }

label {
    font-family: Ubuntu;
    font-size: 1rem;
    color: #f6f6f6;
    margin-bottom: 5rem;
}

@media (max-width: 1200px) {

    #ponteen {
     font-size: 4rem;
     white-space: nowrap;
    }
 
    #contacto {
     font-size: 4rem;
     line-height: 2rem;
     margin-left: 0;
     -webkit-text-stroke-width: 1px;
  
    }

    form {
        min-width: 100%;
        margin: 0;
    }

    .titleandform {
        justify-content: flex-start;
    } 
}

@media (max-width: 900px) {
    #contactoseccion {
        margin: 10% 5%;
    }

}

/* Footer */

footer {
    margin:0 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.socialfooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.socialfooter a {
    padding-right: 1.5rem;
}

.footertext ul{
    display: flex; /* Set ul as a flex container */
    flex-wrap: wrap;
    font-family: Ubuntu;
    font-size: 0.9rem;
    list-style: none;
    color: #A1998A;
    justify-content: flex-end; /* Align items to the end */
    padding: 0; /* Reset default padding */
    flex-grow: 1; /* Allow ul to grow and take up available space */
}

@media (max-width: 900px) {
    footer {
        margin: 10% 5%;
    }

}

@media (max-width: 480px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Align items vertically on small screens */
    }

    .socialfooter {
        margin-bottom: 1rem; /* Add space between social icons and text on small screens */
    }

    .footertext ul {
        text-align: center; /* Center-align text */
    }
}

/*Desarrollo Web Gallery*/

.projectGallery {
    margin: 0 15%;
    display: flex; /* Changed inline-flex to flex */
    flex-wrap: wrap;
    justify-content: space-between;
}

.projectContainer {
    max-width: 380px;
    flex: 1 1 auto; /* Allows containers to grow and shrink as needed */
    overflow: hidden;
    margin: 50px 10px;

}

.projectContainer hr {
    width: 100%;
    margin-left: 0;
}

.projectContainer img {
    margin-top: 15px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

}

.projectContainer p {
    width: 100%;
}

.projectContainer a {
    font-family: Ubuntu;
    font-size: 1.25rem;
    margin-top: 2rem;
}

@media (max-width: 480px) {
    .projectGallery {
        margin: 0 5%;
    } 


}