* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background: #fdfaf4;
    overflow-x: hidden; /* Corrected property name */
}

main {
    margin: 0% 10%;
}



/* Nav */

nav {
    display: flex;  
    padding-top: 1rem;
    width: 100%;
    justify-content: center; /* Centers the nav content */
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    background-color: #fdfaf4;
    z-index: 3;
    top: 0;
}

.logo {
    width: 4.8rem;
    height: auto;
    margin-left: 10%; /* Align with body margin */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav ul {
    display: flex; /* Set ul as a flex container */
    font-family: 'Roboto';
    font-size: 1rem;
    list-style: none;
    color: #262626;
    justify-content: flex-end; /* Align items to the end */
    margin: 0 10%; /* Align with body margin */
    padding: 0; /* Reset default padding */
    flex-grow: 1; /* Allow ul to grow and take up available space */
}

li {
    padding: 0 0 0 1.8rem;
    cursor: pointer;
}

li:hover {
    animation-duration: 1s;
    color:#7B7B7B;
    font-weight: 500;

}
 
li:active {
    color:#262626;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #262626;
    transition: 1s;
}

a:visited {
    color: #262626;
    text-decoration: none;
}

a:active {
    color:#262626;
    text-decoration: none;
}


@media (max-width: 635px) {

    nav {
        justify-content: center; /* Corrected property value */
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .logo {
        margin: 1rem auto; /* Reduced margin to ensure better centering */
    }

    nav ul {
        justify-content: center;
        margin: 0; /* Removed margin to avoid pushing items away from the center */
        padding: 0; /* Ensure padding is reset */
    }

    li {
        padding: 0.5rem; /* Ensure padding is reduced for smaller screens */
    }
}


/*Animations*/




@keyframes entradaIzq {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes entradaDer {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate-it {
    from { transform: scale(0.8); }
  to { transform: scale(1); }
}

@keyframes move-it {
    from {
        transform: translateX(0px);
      }
    to {
        /* adjust the value to control how much the text moves */
        transform: translateX(10px);
      }
}

@keyframes highlight-me {
    from {
        background-size: 0% 100%;
      }
      to {
        background-size: 100% 100%;
      }
    }

/* General Styling */


h1 {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 6.8rem;
    line-height: 6.6rem;
    color: #262626;
    margin-block-start: 5rem;
    margin-block-end: 2rem;

    animation: slideup 1s;
}

h1 span {
        color: #262626;
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 300;
        /*animation-name: highlight-me;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        background: linear-gradient(to right, #FDDC05 0%, #FDDC05 100%);
        background-repeat: no-repeat;
        background-size: 0% 100%;*/
}

.portafoliotitulos {
    font-family: 'Playfair Display';
    font-weight: 300;
    font-style: italic;
    font-size: 4rem;
    margin-block-start: 0;
    margin-block-end: 1rem;
}


h2 {

    font-family: 'Roboto';
    color: #262626;
    font-size: 1.25rem;
 
}

h3 {
    font-family: 'Roboto';
    color: #262626;
    font-size: 1rem;
 
}

h4 {
    font-family: 'Roboto';
    color: #262626;
    font-size: 0.75rem;
 
}


p {
    font-family: 'Roboto';
    font-size: 1rem;
    color: #262626;
}


button {
    padding: 1rem 1.5rem;
    background-color: #fdfaf4;
    color: #262626;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    border-radius: 40px;
    border: 1px solid #262626;
    margin-top: 2rem;
    cursor: pointer;
    transition-duration: 1s;
    box-sizing: border-box;
}

#primary {
    background-color: #262626;
    color: #fdfaf4;
}

#primary:hover {
    background-color: #000000;
    color: #fdfaf4;

    animation-name: highlight-me;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    background: linear-gradient(to right, #000000 0%, #000000 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
}

button:hover {
    background-color: #fdfaf4;
    color: #fdfaf4;


    animation-name: highlight-me;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    background: linear-gradient(to right, #262626 0%, #262626 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
}

.line {
    border-bottom: 1px solid #262626;
    width: 30%;
}

.divider {
    height: 10rem;
}

hr {
    border: #262626 0.5px solid;
}

/* Header */

header {
    position: relative;
    top: 50px;
    display: flex;
    margin: 0 10%;
    padding-top: 50px; 
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute space between items */ 


}

.textsheader {
    flex: 1; /* Allow .textsheader to take up available space */
    display: flex;
    flex-wrap: wrap;

    animation: slideup 1s;
}

.title {
    width: 100%;
    display: flex;
    line-height: 7.8rem;
    margin:0;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.ctas {
    display: inline-flex;
}

.ctas button {
    margin-right: 20px;
}

.socialhome {
    min-width: 20%;
    margin-top: 5rem;
    align-items: flex-end;
    text-align: right;
    padding-left: 5rem;

    animation: slideup 1s;
}



.sociallogos {
    display: inline-flex;
    justify-content: space-between;
}

.sociallogos a {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.bienvenida {
    max-width: 60%;
    min-width: 320px; /* Minimum width to maintain */
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 15%;
    flex-direction: column; /* Ensure vertical stacking of children */
    align-items: left; 
}

.scrollicon {
    display: block;
    margin-top: 4rem;
}

@media (max-width: 1300px) {

    .socialhome {
        display: none;
    }}


@media (max-width: 900px) {



    .title h1 {
        font-size: 3rem;
        line-height: 3rem;
        transition: color 0.3s ease, font-size 1s ease;
    }

    .bienvenida {
        width: 100%;
        margin-right: 15%;
    }

    header {
        margin: 0 5%;
    }
}



/* Projects */


.projects1 {
    margin: 10% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    animation: slideup linear both;
    animation-timeline: view();
    animation-range: 25vh 75vh;
}

.projects2 {
    margin: 10% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;

    animation: slideup linear both;
    animation-timeline: view();
    animation-range: 25vh 75vh;
}

.projecttexts {
    width: 40%;
    min-width: 320px;
    z-index: 1;

    animation: entradaIzq linear both;
    animation-timeline: view();
    animation-range: 25vh 75vh;
}

.diseñoGrafico {
    margin-top: 15px;

}

.imagedesarrollo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    min-width: 320px;
    height: 690px;
    overflow: hidden;
    z-index: 0;



    animation: animate-it linear both;
    animation-timeline: view();
    animation-range: 25vh 75vh;
}

.imagedesarrollo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.descripcionServicio {
    padding-right: 100px;
}

#desarrollo {
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: -0.3rem;
    font-size: 7rem;
    color: #262626;

}

#web {
    font-family: 'Playfair Display';
    font-weight: 300;
    font-size: 7rem;
    line-height: 5rem;
    color: #262626;
    /*margin-left: 20rem;*/
    font-style: italic;
}


#diseño {
    font-family: 'Roboto';
    font-weight: 700;
    letter-spacing: -0.4rem;
    font-size: 7rem;
    color: #262626;
    white-space: nowrap;
}

#grafico {
    font-family: 'Playfair Display';
    font-weight: 300;
    font-size: 7rem;
    font-style: italic;
    line-height: 5rem;
    color: #262626;
}

#ui {
    font-family: 'Playfair Display';
    font-weight: 300;
    font-style: italic;
    letter-spacing: -0.5rem;
    font-size: 7rem;
    line-height: 3rem;
    /*margin-left: 2rem;*/
    color: #262626;

}

.videoshome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    min-width: 320px;
    height: 690px;
    overflow: hidden;
    z-index: 0;


    animation: animate-it linear both;
    animation-timeline: view();
    animation-range: 25vh 75vh;
}

.videoshome video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.projecttexts h2 {
    margin-top: 6rem;
}


@media (max-width: 1500px) {

   #desarrollo {
    font-size: 4rem;
    letter-spacing: 0rem;

    transition: 1s;
   }

   #web {
    font-size: 4rem;
    line-height: 2rem;
    margin-left: 0;
    letter-spacing: 0rem;

    transition: 1s;
   }

   .projects {
    flex-direction: column;
}

#diseño {
    font-size: 4rem;
    letter-spacing: 0rem;

    transition: 1s;
   }

#grafico {
    font-size: 4rem;
    line-height: 2rem;
    margin-left: 0;
    letter-spacing: 0rem;

    transition: 1s;
   }

   #ui {
    font-size: 4rem;
    line-height: 2rem;
    margin-left: 0;
    letter-spacing: 0rem;

    transition: 1s;
   }

.videoshome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 300px;
    overflow: hidden;
    z-index: 0;
    margin-top: 5rem;
}


.imagedesarrollo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 300px;
    overflow: hidden;
    z-index: 0;
    margin-top: 5rem;
}


.projecttexts {
    width: 100%;
    min-width: 320px;
    z-index: 1;
}
    
}

@media (max-width: 900px) {
    main {
        margin: 10% 5%;
    }

    .videoshome {
        width: 100%;
    }
    
    .imagedesarrollo {
    width:100%;
    }

    .descripcionServicio {
        padding-right: 10px;
    }
}

/* Clientes */

.clients {


    animation: slideup linear both;
    animation-timeline: view();
    animation-range: 25vh 75vh; 
}

.clientslogos {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.clientslogos img {
    width: 140px;
}

@media (max-width: 900px) {
    .clients {
        margin: 10% 5%;
    }

}

/* Contacto */
.hablemos {
    margin: 10% 0%;
    text-align: center;
}

.lastcta {
    font-family: 'Roboto';
    font-size: 3rem;
}

.lastctaitalic {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 500;
}
/*
#contactoseccion {
    margin: 5% 15%;

    animation: slideup linear both;
    animation-timeline: view();
    animation-range: 25vh 75vh;
}

#contactoseccion hr {
    width: 25%;
    margin-left: 0;
}

.titleandform {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ponteencontacto {
    width: 100%;
    max-width: 50%;

    animation: entradaIzq linear both;
    animation-timeline: view();
    animation-range: 25vh 75vh;
}

form {
    width: 100%;
    max-width: 50%;
    min-width: 320px;
    margin-left: auto;

}

#ponteen {
    font-family: Oswald;
    font-weight: 700;
    font-size: 6rem;
    color: #262626;
    text-transform: uppercase;
}

#contacto {
    font-family: Oswald;
    font-weight: 700;
    font-size: 7rem;
    text-transform: uppercase;
    line-height: 4rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#262626;
    margin-left: 2rem;
}

input {
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: 1px solid #262626;
    background-color: #F6f6f6;
    border-radius: 5px;
    color: #262626;
    outline: none;
}

input:focus {
    border: 3px solid #FDDC05;
  }

input[type=submit] {
    padding: 1.56rem 3.12rem;
    background-color: #FDDC05;
    color: #262626;
    font-family: Ubuntu;
    font-size: 1.25rem;
    border-radius: 0.6rem;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    box-sizing: border-box;
    border: 1px solid #262626;
    background-color: #F6f6f6;
    border-radius: 5px;
    color: #262626;
    resize: none;
    outline: none;
}

textarea:focus {
    border: 3px solid #FDDC05;
  }

label {
    font-family: Ubuntu;
    font-size: 1rem;
    color: #262626;
    margin-bottom: 5rem;
}

@media (max-width: 1500px) {

    #ponteen {
     font-size: 4rem;
     white-space: nowrap;
    }
 
    #contacto {
     font-size: 4rem;
     line-height: 2rem;
     margin-left: 0;
     -webkit-text-stroke-width: 1px;
  
    }

    form {
        min-width: 100%;
        margin: 0;
    }

    .titleandform {
        justify-content: flex-start;
    } 
}

@media (max-width: 900px) {
    #contactoseccion {
        margin: 10% 5%;
    }

} */

/* Footer */

footer {
    margin: 10% 10% 2% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.socialfooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.socialfooter a {
    padding-right: 1.5rem;
}

.footertext ul{
    display: flex; /* Set ul as a flex container */
    flex-wrap: wrap;
    font-family: 'Roboto';
    font-size: 0.9rem;
    list-style: none;
    color: #262626;
    justify-content: flex-end; /* Align items to the end */
    padding: 0; /* Reset default padding */
    flex-grow: 1; /* Allow ul to grow and take up available space */
}

@media (max-width: 900px) {
    footer {
        margin: 20% 5% 1% 5%;
    }

}

    @media (max-width: 480px) {
        footer {
            display: flex;
            justify-content: center; /* Center-align the entire footer */
            align-items: center;
            flex-direction: column; /* Align items vertically on small screens */
        }
    
        .socialfooter {
            justify-content: center; /* Center-align the social icons */
            margin-bottom: 2rem; /* Add space between social icons and text on small screens */
        }
    
        .footertext ul {
            text-align: center; /* Center-align text */
            justify-content: center; /* Center-align the text list */
        }
    }


/*Legal Notice */

.legal {
    margin: 5% 0%
}

.tituloLegal {
    font-size: 5rem;
}

@media (max-width: 900px) {
    .legal {
        margin: 10% 5%;
    }

    .tituloLegal {
        font-size: 3rem;
        transition: 1s;
        margin: 10% 5%;
    }

    .textosLegales {
        width: 100%;
    }
}
    
/*Servicios Gallery*/

.projectGallery {
    margin: 5% 0%;
    display: flex; /* Changed inline-flex to flex */
    flex-wrap: wrap;
    justify-content: space-between;

    animation: slideup 1s ease-in;
}

.projectContainer {
    max-width: 30%;
    min-width: 300px;
    flex: 1 1 auto; /* Allows containers to grow and shrink as needed */
    overflow: hidden;
    margin: 50px 10px;
}

.projectContainer hr {
    width: 100%;
    margin-left: 0;
}

.zoom-img {
    width: 100%;
    height: 320px;
    overflow: hidden;
    margin-top: 2rem;

    border-radius: 15px;

  }
  
  .zoom-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;

    border-radius: 15px;
  }
  

  
  .zoom-img img:hover {
    transform: scale(1.2);
  }


.projectContainer p {
    padding-top: 15px;
    width: 100%;
}

.projectContainer a {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    border-bottom: transparent solid 1px;

    transition: 1s;

}

.projectContainer a:hover {
    border-color: #262626;
}

@media (max-width: 900px) {

    .projectGallery {
        margin: 5% 5%;
    }

    .projectContainer {
        margin: 5% 0%;
        min-width: 100%
    }

    .zoom-img {
        width: 100%;
        height: 400px;
        overflow: hidden;
        margin-top: 2rem;
         
        border-radius: 15px;

      }

    .zoom-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s ease;

        border-radius: 15px;
      }

    .titleServicios {
        margin: 1% 5%;
    }

    .titleServicios h1 {
        font-size: 3rem;
    }

    }






/*Proyectos*/

.introProyecto {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 10% 15% 2% 15%;
    justify-content: space-between;

    animation: slideup .75s ease-in;
}

.introtitulo {
    width: 40%;

}

.introTexto {
    max-width: 60%;
    min-width: 300px;
}

.imagenes {
    margin: 0% 15% 1% 15%;
    height:100%;
    width: auto;
}

.introimg {
    height:auto;
    width: 100%;
    overflow: hidden;

    animation: animate-it 0.75s ease-in;
}

.introimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

    transition: all .3s ease;
  }

.imagenesproyecto {
    margin-top: 1%;
    height: auto;
    width: 100%; /* Use full width of the parent */
    overflow: hidden;
    overflow-x: auto;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    animation: animate-it 0.75s ease-in;
}

.descriptivo {
    margin: 2% 0%;

    animation: animate-it 0.75s ease-in;
}

.imagenesproyecto img {
    width: 49%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.volver {
    display: flex;
    justify-content: space-between; /* Adds space between children */
    width: 100%; /* Ensure full width for spacing */
    padding: 1rem; /* Optional: Add some padding for better look */
}

.volver a {
    text-decoration: none;
    color: #262626;
    font-family: 'Roboto', serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;

    transition: 1s;
}

.volver a:hover {
    font-weight: 500;
}

@media (max-width: 900px) {
    .introProyecto {
        margin: 20% 5% 2% 5%;
        width: 100%;
    }

    .introtitulo {
        width: 100%;
        margin-top: 20px;
    }

    .introTexto {
        min-width: 90%;
        margin-bottom: 10px; /* Add some space between text and image */
    }

    .imagenes {
        margin: 0% 5% 1% 5%;
    }

    .imagenesproyecto {
        margin-top: 1%;
    }

    .imagenesproyecto img {
        width: 100%; /* Allow images to take full width in their container */
        margin-bottom: 10px; /* Add some space between images vertically */
    }

    .volver {
        margin-top: 10%;
    }
    .volver a {
        font-size: 0.8rem;
    }
}




/*About*/

.introabout {
    margin-top: 5%;
}

.introtext {
    width: 48%;
}

#nombreabout {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
}

.about {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 5%;
    margin-bottom: 5%;

    animation: slideup linear both;
    animation-timeline: view();
    animation-range: 25vh 75vh;
}

.cv {
    display: inline-flex;
    flex-wrap: wrap;
}

.introhabilidades {
    width: 48%;
}

.introservicios {
    width: 48%;
}

.fotoabout {
    height:auto;
    width: 500px;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;

    animation: animate-it 0.75s ease-in;
}

.fotoabout img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 15px;
}

.skills {
    margin-top: 2%;
}

.skills li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 15px 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    border: #262626 1px solid;
    border-radius: 25px;
}


.cv ul {
    list-style-type: none;
    padding-left: 0px;
}

.cv li:hover {
    color: #262626;
}

@media (max-width: 900px) {

    .introabout {
        margin-top: 100px;
    }

    .introtext {
        width: 100%;
    }

    .about {
        margin-top: 5%;

        margin-bottom: 5%;
    }

    .fotoabout {
        width: 100%;
        height: auto;
        margin-top: 10%;
    }

    .introhabilidades {
        width: 100%;
    }


    .introservicios {
        width: 100%;
    }

    .skills {
        margin-top: 10%;
    }

    .skills li {
        font-size: 1rem;
    }

    .cv {
        margin-top: 10%;
    }

    .cv li {
        font-size: 1rem;
    }

    .cv li:hover {
        color: #262626;
    }

    .cv ul {
        list-style-type: none;
        padding-left: 0px;
    }

    .introtext .portafoliotitulos {
        font-size: 2.5rem;
        transition: 1s;
    }
    
}


